<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tidy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Clean Cut"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tidy">
        <activity
            android:name="com.cleanCut.tidy.addreviewads"
            android:exported="false"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar"/>
        <activity
            android:name="com.cleanCut.tidy.applyJob"
            android:exported="false"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar"/>
        <activity
            android:name="com.cleanCut.tidy.addreview"
            android:exported="false"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name="com.cleanCut.tidy.review_Cleaner"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name="com.cleanCut.tidy.viewAds"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name="com.cleanCut.tidy.display_ads"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name="com.cleanCut.tidy.requests"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name="com.cleanCut.tidy.viewCleaners"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name="com.cleanCut.tidy.addAds"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name="com.cleanCut.tidy.cleaner_Menu"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name="com.cleanCut.tidy.houseOwner_Menu"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar">

        </activity>
        <activity
            android:name="com.cleanCut.tidy.cleanerSignup"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name="com.cleanCut.tidy.houseOwnerSignup"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name="com.cleanCut.tidy.cleanerLogin"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name="com.cleanCut.tidy.houseOwnerLogin"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name="com.cleanCut.tidy.MainPage"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" >  <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>